<div class="inventory" id="candy">
  <img src="/images/candy barcode.png" name="candy" />
</div>
<div class="inventory" id="soda">
  <img src="/images/soda barcode.png" name="soda" />
</div>
<div class="inventory" id="sandwich">
  <img src="/images/sandwich barcode.png" name="sandwich" />
</div>
<div class="inventory" id="coffee">
  <img src="/images/coffee barcode.png" name="coffee" />
</div>

<div class="output" id="subtotal">
  subtotal:
</div>
<div class="output" id="total">
  Total:
</div>
